/* Reset CSS simple */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* Police Globale */
body {
  font-family: "Hind Madurai", serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Liens */
a{
  text-decoration: none;
  color: inherit;
}

/* Boutons */

button{
  border: none;
  background-color: #906427;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

